body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    padding-left: 16px;
    text-align: center;
    background-image: linear-gradient(90deg, teal, lightblue);
    height: 1000px;
    width: 100%;
    position: fixed;
    top: 40px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.home h2 {
    padding-top: 15%;
    font-size: 70px;
    font-family: poppins;
    text-transform: uppercase;
    color: #fff;
}

.about {
    width: initial;
    position: relative;
    top: 750px;
    background: #1f1d1d;
    height: fit-content;
    color: rgb(207, 205, 205);
}

.about h2 {
    font-family: poppins;
    letter-spacing: 4px;
    padding-top: 0px;
    font-size: 50px;
    margin: 0cm;
    text-align: center;
}

.about p {
    font-family: poppins;
    line-height: 10px;
    transition: background-color 0.5s ease;
}

.qualifications {
    width: 100%;
    position: relative;
    top: 750px;
    background: white;
    height: fit-content;
    color: rgb(207, 205, 205);
}

.qualifications h2 {
    font-family: poppins;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 50px;
    margin: 0;
    text-align: center;
    color: black;
}

.qualifications .q1 {
    font-family: poppins;
    line-height: 30px;
}

.interests {
    width: 100%;
    position: relative;
    top: 750px;
    background: #1f1d1d;
    height: fit-content;
    color: rgb(207, 205, 205);
}

.interests h2 {
    font-family: poppins;
    letter-spacing: 4px;
    padding-top: 0px;
    font-size: 50px;
    margin: 0cm;
    text-align: center;
}

.interests .i1 {
    font-family: poppins;
    line-height: 10px;
    transition: background-color 0.5s ease;
}

img {
    border-width: 200cm;
    border-radius: 1cm;
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    border: teal solid 5px;
}

.para {
    padding: 40px;
    border: teal solid 5px;
    border-radius: 1cm;
    height: fit-content;
    margin-top: 100px;
    font-size: 17px;
    transition: all .3s ease;
}

.para:hover {
    background-color: teal;
    color: black;
    border: #1f1d1d;
}

.card-wrapper .card {
    padding: 30px;
    border: teal solid 5px;
    border-radius: 1cm;
    height: fit-content;
    margin-top: 100px;
    font-size: 17px;
    color: black;
    transition: all .3s ease;
    width: fit-content;
}

.card-wrapper .card:hover {
    background-color: teal;
    color: white;
    border: black solid 5px;
}

.i1 {
    padding: 40px;
    border: teal solid 5px;
    border-radius: 1cm;
    height: fit-content;
    margin-top: 100px;
    font-size: 17px;
    transition: all .3s ease;
}

.i1:hover {
    background-color: teal;
    color: black;
    border: #1f1d1d;
}

.heading {
    padding-top: 10cm;
}

.topnav {
    overflow: hidden;
    background-color: #1f1d1d;
    z-index: 1;
    position: fixed;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: teal;
    color: white;
}

.topnav .icon {
    display: none;
}

.design {
    border-top: 50px solid #1f1d1d;
    border-left: 150px solid teal;
    border-bottom: 50px solid white;
    border-right: 150px solid teal;
}

.design1 {
    border-top: 50px solid white;
    border-left: 150px solid teal;
    border-bottom: 50px solid #1f1d1d;
    border-right: 150px solid teal;
}

.design0 {
    border-top: 50px solid #1f1d1d;
    border-left: 150px solid teal;
    border-bottom: 50px solid #1f1d1d;
    border-right: 150px solid teal;
}

.edu {
    padding: 0px;
    text-align: center;
    margin-top: 10px;
}

.det {
    text-align: center;
    font-size: 33px;
    margin-top: 8px;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 500px) {
    .about {
        width: 70%;
    }
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
}

.card-wrapper-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.card-wrapper-1 .card {
    padding: 30px;
    border: teal solid 5px;
    border-radius: 1cm;
    height: fit-content;
    margin-top: 100px;
    font-size: 17px;
    color: white;
    transition: all .3s ease;
    width: fit-content;
    background-color: #1f1d1d;
}

.card-wrapper-1 .card:hover {
    background-color: teal;
    color: black;
    border: white solid 5px;
}

@media(max-width:576px) {
    .black {
        width: 100%;
    }
    .para {
        padding: 1.5rem;
        margin-left: 50px;
        margin-right: 50px;
    }
    img {
        width: 250px;
        height: 200px;
    }
    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        display: block;
    }
    .card {
        height: fit-content;
        margin: 40px;
        padding: 1px;
        margin-bottom: 10px;
    }
}
